spring:
  application:
    name: cyclecare-backend
  
  datasource:
    url: jdbc:mysql://localhost:3306/WomeneWellnes?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: Kalyani@123

    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  
server:
  port: 8080
  
logging:
  level:
    com.cyclecare: DEBUG
    org.hibernate.SQL: DEBUG
